<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplicação em Flask</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Bem vindo ao meu projeto Docker em Python Flask!</h1>
      <p>Este é um simples projeto para fins educacionais.</p>
      <button onclick="alert('Olá, Flask aqui!')">Clique aqui</button>
    </div>
  </body>
</html>
